<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
#include "head.include"
   <title>TypeRex: OCaml Cheat Sheets</title>
</head>
<body>

#include "body.header.include"

<h1>OCaml Cheat Sheets</h1>

<p>
When you are beginning in a new programming language, it is sometimes
helpful to have an overview of the documentation, that you can pin on
your wall and easily have a look at it while you are
programming. Since we could not find such <em>Cheat Sheets</em>, we decided to
start writting our own cheat sheets for OCaml.
</p>

<p>
Beware, these documents are drafts, that we plan to improve in the
next months. In the meantime, feel free to tell us how we could
improve them, what is missing, and where the focus should be !
</p>

<div class="span12">

<h3>Ressources</h3>

<table class="table table-striped">
<tr><td><a href="files/cheatsheets/ocaml-lang.pdf">ocaml-lang.pdf</a></td>
          <td>The OCaml language</td><td>3.12.1 (June 8, 2011)</td></tr>
<tr><td><a href="files/cheatsheets/ocaml-tools.pdf">ocaml-tools.pdf</a></td>
          <td>OCaml Standard Tools</td><td>3.12.1 (June 7, 2011)</td></tr>
<tr><td><a href="files/cheatsheets/ocaml-stdlib.pdf">ocaml-stdlib.pdf</a></td>
          <td>OCaml Standard Library</td><td>3.12.1 (June 7, 2011)</td></tr>
<tr><td><a href="files/cheatsheets/tuareg-mode.pdf">tuareg-mode.pdf</a></td>
          <td>OCaml Emacs Mode (Tuareg)</td><td>3.12.1 (June 27, 2011)</td></tr>
<tr><td><a href="http://www.github.com/OCamlPro/ocaml-cheat-sheets">The sources on GitHub</a></td>
          <td>OCaml Cheat Sheets LaTeX Sources</td><td></td></tr>
</table>

<br />

<br />

<div class="right">
<p><a class="btn btn-large btn-primary" href="http://www.ocamlpro.com/">
OCamlPro &rsaquo;&rsaquo;</a></p>
</div>

</div>
</div>

#include "body.trailer.include"

</body>
</html>
