<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
#include "head.include"
   <title>TypeRex</title>
</head>
<body>

#include "body.header.include"
#include "define.h"

<h1>TypeRex, the OCaml Programming Studio</h1>

  <p>TypeRex is a set of open-source tools and libraries
 for developing applications in
<a href="http://www.ocaml.org">OCaml</a>, edited by
<a href="http://www.ocamlpro.com/">OCamlPro</a>.
  It is currently under development. Libraries and tools are released
 independantly, as soon as they reach a state where they can be tested
 and used by users.</p>

<div class="right">
<p><a class="btn btn-large btn-primary" href="http://www.ocamlpro.com/">
OCamlPro &rsaquo;&rsaquo;</a></p>
</div>

        <hr />

<div class="container">
<div class="span12">

<h3>Toolchains</h3>
<table class="table table-striped">
         <tr><td width="20%"><a href="http://memprof.typerex.org/">Memprof</a></td><td width="70%">A toolsuite to profile the memory behavior of OCaml apps</td><td>2015-02-12</tr>
             <tr><td width="20%"><a href="ocpwin.html">OCPWin</a></td><td width="70%">A self-contained OCaml distribution for Windows 32/64 bits</td><td>2016-01-13</tr>
</table>

<h3>Tools</h3>

<table class="table table-striped">
<tr><td width="20%"><a href="ocp-build.html">ocp-build</a></td><td width="70%">A build manager for OCaml applications</td><td>OCPBUILD</tr>
<tr><td><a href="ocp-indent.html">ocp-indent</a></td><td>A customizable tool to indent OCaml code</td><td>OCPINDENT</td></tr>
<tr><td><a href="ocp-index.html">ocp-index</a></td><td>A tool to search environment for auto-completion</td><td>OCPINDEX</td></tr>
<tr><td><a href="ocaml-top.html">ocaml-top</a></td><td>The interactive
    editor for education</td><td>OCAMLTOP</td></tr>
<tr><td><a href="ocp-ocamlres.html">ocp-ocamlres</a></td><td>A tool to embed resources in OCaml programs</td><td>beta</td></tr>
<tr><td><a href="ocp-manager.html">ocp-manager</a></td><td>A tool to manage multiple versions of OCaml</td><td>beta</td></tr>
<tr><td width="20%"><a href="http://opam.ocamlpro.com">opam</a></td><td width="70%">A source package manager for OCaml</td><td>1.0</tr>
<tr><td><a href="operf-micro.html">operf-micro</a></td><td>A micro-benchmarking tool for the OCaml compiler</td><td>OPERFMICRO</td></tr>
<tr><td><a href="operf-macro.html">operf-macro</a></td><td>A macro-benchmarking suite for the OCaml compiler</td><td>beta</td></tr>
</table>

<h3>Libraries</h3>

<table class="table table-striped">
<tr><td width="20%"><a href="ollvm.html">ollvm</a></td><td width="70%">ollvm library offers an interface to manipulate LLVM IR in pure OCaml.</td><td>0.99</td></tr>
<tr><td width="20%"><a href="ocplib-endian.html">ocplib-endian</a></td><td width="70%">Optimised functions to read int16/32/64 ints from strings</td><td>OCPLIBENDIAN</td></tr>
<tr><td><a href="ocplib-wxOCaml.html">ocplib-wxOCaml</a></td><td>A binding to WxWidgets 2.8/2.9, to build graphical interfaces</td><td>0.1</td></tr>
<tr><td><a href="ocp-ocamlres.html">ocplib-ocamlres</a></td><td>A library to manipulate resources embedded by <code>ocp-ocamlres</code></td><td>beta</td></tr>
</table>

<h3>Online Ressources</h3>

<table class="table table-striped">
<tr><td width="20%"><a href="cheatsheets.html">OCaml Cheat Sheets</a></td><td width="70%">The OCaml documentation in one glance</td><td>3.12.1</td></tr>
<tr><td width="20%"><a href="http://try.ocamlpro.com/">Try OCaml</a></td><td width="70%">An interactive toplevel in the browser</td><td>4.00.1</td></tr>
</table>

<br />
<br />

    <br />
The first prototype of TypeRex <a href="old.html">TypeRex for Emacs</a> can still be used
         to edit OCaml 3.12.1 code under Emacs.

</div>
</div>
</div>

#include "body.trailer.include"

</body>
</html>
