<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
#include "head.include"
   <title>TypeRex: ocplib-endian</title>
</head>
<body>

#include "body.header.include"

<h1>ocplib-endian </h1>

  <p>ocplib-endian is a library of optimised functions to read/write
int16/32/64 ints from/to strings and bigarrays. When possible, it uses
compiler optimizations to avoid expensive char-by-char operations, and almost completely avoid allocations of useless boxed values. </p>

        <hr />

<div class="span12">

<h3>Ressources</h3>

<table class="table table-striped">
<tr><td><a href="http://www.github.com/OCamlPro/ocplib-endian">ocplib-endian on Github</a></td><td>Latest sources in the official GIT repository</td></tr>
</table>

<br />

<br />

<div class="right">
<p><a class="btn btn-large btn-primary" href="http://www.ocamlpro.com/">
OCamlPro &rsaquo;&rsaquo;</a></p>
</div>

</div>
</div>

#include "body.trailer.include"

</body>
</html>
