<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
#include "head.include"
   <title>TypeRex</title>
</head>
<body>

#include "body.header.include"

<h1>TypeRex is an Open-Source software</h1>

<p>TypeRex is open-source software developed
by <a href="http://www.ocamlpro.com">OCamlPro</a> and
<a href="http://www.inria.fr/">INRIA</a>.</p>

<ul>

<li>You can ask your questions about TypeRex
  on <a href="http://stackoverflow.com/questions/tagged/typerex">Stack
  Overflow</a>. Make sure to tag your questions with at least
   <code>TypeRex</code> and <code>OCaml</code>.</li>

<li>Please report any bugs, unexpected behavior, or unclear
documentation, through our Github
 <a href="https://github.com/OCamlPro/typerex/issues">issue tracker</a>.
Please let us know also about your most wanted features so that we can
optimize our agenda</li>

<li>Fork our <a href="https://github.com/OCamlPro/typerex">project</a>
on Github to contribute. We gladly welcome patches, especially the ones
which improve TypeRex support on new platforms.</li>
</ul>

<br/>

<h1>Technical Support</h1>

<p><a href="http://www.ocamlpro.com/">OCamlPro</a> provides technical
  support on TypeRex. OCamlPro can help you if you are looking for:</p>

<ul>
<li>training on TypeRex</li>
<li>targeted development efforts (typically for supporting new platforms)</li>
<li>long-term commercial support</li>
<ul>

#include "body.trailer.include"

</body>
</html>
